
@model IEnumerable<CarRental.Models.ApplicationUser>
@{
    ViewBag.Title = "List users";
}

<h2>List of users</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Edit</th>
            <th scope="col">Block</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@Html.ActionLink("Edit", "EditUser", new { id = user.Id })</td>

                <td>@Html.ActionLink(user.IsBlocked ? "Unblock" : "Block", "BlockUser", new { id = user.Id }, new { @class = "block-link", id = user.Id })</td>

                <td>@Html.ActionLink("Delete", "DeleteUser", new { id = user.Id }, new { @class = "delete-link", id = user.Id })</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {
            $('.delete-link').click(onDelete('@Url.Action("DeleteUser", "Admin")', '@Url.Action("ListUsers", "Admin")'));
            $('.block-link').click(onBlockUser);
        });
    </script>
}


